<app-menu></app-menu>
<div class="container">
  <!--<h1>Hola {{ title }}</h1>
      <p>{{ grupo }}</p>

      <h3>
        El dobele de 3 es: {{ duplicar(3) }}
      </h3>
      <hr>
      <div>
        <b>Matricula del Alumno:</b>
        <p>{{ alumnos.matricula }}</p>
      </div>
      <div>
        <b>Nombre del Alumno:</b>
        <p>{{ alumnos.nombre | uppercase }}</p>
      </div>
      <div>
        <b>Fecha de nacimiento:</b>
        <p>{{ alumnos.fechaNacimiento | date: "dd-MM-yy" }}</p>
      </div>
      <div>
        <b>Pago:</b>
        <p>{{ alumnos.pago | currency }}</p>
      </div>
      <hr>
      <app-grupo></app-grupo>
      <hr>
      <app-ievn></app-ievn>
      <hr>
      <br>
      <br>

    <hr>-->

  <!--<br><br><br>
  <app-suma></app-suma>
  <br><br><br>
  <app-operas-bas></app-operas-bas>
  <br><br><br>-->
  <br><br><br>
  <app-ird></app-ird>
</div>